

.button-holder {
    margin-top: 2%;
}

#full {
    display:inline-block;
    margin-right: 2px;
    animation-delay: 1s;

} 

#stack {
    display:inline-block;
    animation-delay: 2s;
} 
#float-right {
    float: right;
}

#development {
    animation-delay: 3s;
    float: right;    
}

#casey {
    font-weight: 900;
    text-align: center;
    animation-delay: 0.5s;
}

.fourSec {
    animation-delay: 4s;
}

.fiveSec {
    animation-delay: 5s;
}

.sixSec {
    animation-delay: 6s;
}

.container-main::before {
    background: url("../images/portfolio-sunrise.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: fixed;
    background-position: bottom 0px right 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.8;
    animation-delay: 5s;

} 

button {
    border-radius: 19px;
    background-color: rgba(255,255,255,0.9);
    /* margin-top: 10px; */
}

.splash-bar {
    background-color: rgba(255,255,255,0.9);
}

.projects {
    margin-top: 3%;
    float: right;
}

.three,
h4 {
    margin-top: 3%;
}

h1 {
    font-size: 7.0rem;
}

@media screen and (max-width: 750px) {
    h1 {
      font-size: 5rem;
    }
  }

  #project-1,
  #project-2,
  #project-3 {
    /* display:none; */
   }

   img {
       max-width: 100%;
       height: auto;
   }

.six {position: relative;}

.six .link {
    position: absolute;
    bottom: 10%; /*your button position*/
    left: 10%; /*your button position*/
}

.six .github {
    /* border: 1px;
    border-color: black; */
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 30%;
    max-width: 31%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 750px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
    h1 {
        font-size: 5rem;
      }
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }